div.m-app-loading 
{
  position: fixed;
  z-index: 999999;
  opacity: 1;
  background-color: #333333;
  text-align: center;
  bottom: 0px;
  left: 0px;
  right: 0px;
  top: 0px;
}
div.m-app-loading:before
{
  content: '';
  display: inline-block;
  height: 100%; 
  vertical-align: middle;
  margin-right: -0.25em; /* Adjusts for spacing */
}
div.m-app-loading div.messaging 
{
  display: inline-block;
  vertical-align: middle;
  color: #FFFFFF;
  width: 100%;
  font-family: monospace;
  text-align: center;
}
div.m-app-loading h1 
{
  font-size: 26px;
  line-height: 35px;
  margin: 0px 0px 20px 0px;
}
div.m-app-loading p 
{
  font-size: 18px;
  line-height: 20px;
  margin: 20px 100px 20px 100px;
}
.progress 
{
  position: relative;
  height: 4px;
  display: block;
  width: 70%;
  background-color: #acece6;
  border-radius: 2px;
  margin: 2% auto;
  text-align: center;
  overflow: hidden; 
}        
.progress .indeterminate 
{
  background-color: #26a69a; 
}
.progress .indeterminate:before 
{
  content: '';
  position: absolute;
  background-color: inherit;
  top: 0;
  left: 0;
  bottom: 0;
  will-change: left, right;
  -webkit-animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
  -moz-animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
  -ms-animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
  -o-animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
  animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite; 
}
.progress .indeterminate:after 
{
  content: '';
  position: absolute;
  background-color: inherit;
  top: 0;
  left: 0;
  bottom: 0;
  will-change: left, right;
  -webkit-animation: indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
  -moz-animation: indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
  -ms-animation: indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
  -o-animation: indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
  animation: indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
  -webkit-animation-delay: 1.15s;
  -moz-animation-delay: 1.15s;
  -ms-animation-delay: 1.15s;
  -o-animation-delay: 1.15s;
  animation-delay: 1.15s; 
}

@-webkit-keyframes indeterminate 
{
  0% 
  {
    left: -35%;
    right: 100%; 
  }

  60% 
  {
    left: 100%;
    right: -90%; 
  }

  100% 
  {
    left: 100%;
    right: -90%; 
  } 
}

@-moz-keyframes indeterminate 
{
  0% 
  {
    left: -35%;
    right: 100%; 
  }

  60% 
  {
    left: 100%;
    right: -90%; 
  }

  100% 
  {
    left: 100%;
    right: -90%; 
  }   
}

@keyframes indeterminate 
{
  0% 
  {
    left: -35%;
    right: 100%; 
  }

  60% 
  {
    left: 100%;
    right: -90%; 
  }

  100% 
  {
    left: 100%;
    right: -90%; 
  } 
}

@-webkit-keyframes indeterminate-short 
{
  0% 
  {
    left: -200%;
    right: 100%;
  }

  60%
  {
    left: 107%;
    right: -8%; 
  }

  100% 
  {
    left: 107%;
    right: -8%; 
  } 
}

@-moz-keyframes indeterminate-short 
{
  0% 
  {
    left: -200%;
    right: 100%; 
  }

  60% 
  {
    left: 107%;
    right: -8%; 
  }

  100% 
  {
    left: 107%;
    right: -8%; 
  } 
}

@keyframes indeterminate-short 
{
  0% 
  {
    left: -200%;
    right: 100%; 
  }

  60% 
  {
    left: 107%;
    right: -8%; 
  }

  100% 
  {
    left: 107%;
    right: -8%; 
  } 
}