.md-toolbar-tools h1 
{
  font-size: inherit;
  font-weight: inherit;
  margin: inherit;
}

md-sidenav md-list .md-button 
{
  text-align: left;
}

md-sidenav md-list md-list-item.parent-list-item
{
  padding: 0px;
  margin: 0px;
  min-height: 0px;

  .md-button
  {
    margin: 0px;
    padding: 0px;
    
    span
    {
      padding: 0 10px; 
    }

    div 
    {
      padding: 0 10px; 
    }

    .md-toggle-icon 
    {
      display: block;
      margin-left: auto;
      speak: none;
      vertical-align: middle;
      transform: rotate(180deg);
      -webkit-transform: rotate(180deg);
      transition: transform 0.3s ease-in-out;
      -webkit-transition: -webkit-transform 0.3s ease-in-out;
    }

    .toggled 
    {
      transform: rotate(0deg);
      -webkit-transform: rotate(0deg);
    }
  }

  menu-toggle md-list
  {
    margin: 0px;
    padding: 0px;

    md-list-item
    {
      padding: 0px;
      margin: 0px;
      min-height: 0px;

      .md-button
      {
        margin: 0px;
        padding: 0px;

        div 
        {
          padding: 0 25px; 
        } 

        span
        {
          padding: 0 25px; 
        }
      }
    }
  }

  .button-active
  {
    background-color: rgba( 158, 158, 158, 0.2 );
  }
}

md-sidenav md-list
{
  .menu-toggle-list 
  {
    overflow: hidden;
    position: relative;
    z-index: 1;
    -webkit-transition: 0.75s cubic-bezier(0.35, 0, 0.25, 1);
    -webkit-transition-property: height;
    -moz-transition: 0.75s cubic-bezier(0.35, 0, 0.25, 1);
    -moz-transition-property: height;
    transition: 0.75s cubic-bezier(0.35, 0, 0.25, 1);
    transition-property: height;
  }
}