<div ng-controller="LoginCtrl as vm">
  <button ng-click="authenticate('facebook')">Sign in with Facebook</button>
  <button ng-click="authenticate('google')">Sign in with Google</button>
  <button ng-click="authenticate('github')">Sign in with GitHub</button>
  <button ng-click="authenticate('linkedin')">Sign in with LinkedIn</button>
  <button ng-click="authenticate('twitter')">Sign in with Twitter</button>
  <button ng-click="authenticate('foursquare')">Sign in with Foursquare</button>
</div>