<md-button 
  class="md-button-toggle"  
  ng-click="toggle()" ui-sref=""
  aria-controls="side-menu-{{section.name | nospace}}" 
  flex layout="row"  layout-fill
  >
  <div flex layout="row">
    {{section.name}}
    <span flex></span>
    <span 
      aria-hidden="true" 
      class="pull-right fa fa-chevron-down md-toggle-icon" 
      ng-class="{'toggled' : isOpen()}">
      <md-icon md-svg-src="md-toggle-arrow"></md-icon>
    </span>
  </div>
</md-button>
<md-list id="side-menu-{{section.name | nospace}}" class="menu-toggle-list">
  <md-list-item ng-repeat="page in section.pages">
    <menu-link layout-fill section="page"></menu-link>
  </md-list-item>
</md-list>