<!DOCTYPE html>
<html lang="en">
  <head>
    <title>Angular Material - Starter App</title>

    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="description" content="">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />

    <link rel='stylesheet' href='http://fonts.googleapis.com/css?family=Roboto:400,500,700,400italic'>
    <link rel="stylesheet" href="style.css"/>
    <link rel="stylesheet" href="app-loading.css"/>
  </head>

  <body layout="column" ng-controller="AppCtrl as vm">
    <div class="m-app-loading" app-loading >
      <div class="messaging">
        <h1>
            App is Loading
        </h1>

        <p>
          Please stand by for your ticket to awesome-town!
        </p>

        <div class="progress">
          <div class="indeterminate"></div>
        </div>
      </div>
    </div>
    <!-- END: App-Loading Screen. -->

    <md-toolbar layout="row">
      <div class="md-toolbar-tools">
        <md-button ng-click="vm.toggleList()" hide-gt-sm class="md-icon-button">
          <md-icon aria-label="Menu" md-svg-icon="assets/svg/menu.svg"></md-icon>
        </md-button>
        <h1>Base App</h1>
      </div>
    </md-toolbar>
    <div layout="row" flex >
      <md-sidenav        
        class="md-sidenav-left md-whiteframe-z2" 
        md-component-id="left" 
        md-is-locked-open="$mdMedia('gt-sm')"
        ng-if="!isAuthenticated()">
        
        <md-list flex>
          <md-list-item 
            ng-repeat="section in vm.menu.sections" 
            class="parent-list-item"
            ng-class="{'parentActive' : vm.isSectionSelected(section)}"
            flex>

            <h2 class="menu-heading" ng-if="section.type === 'heading'"
                id="heading_{{ section.name | nospace }}">
              {{section}}
            </h2>
            <menu-link layout-fill section="section" ng-if="section.type === 'link'"></menu-link>
            <menu-toggle layout-fill section="section" ng-if="section.type === 'toggle'"></menu-toggle>

          </md-list-item>
        </md-list>
      </md-sidenav>
      <div layout="column" flex id="content">
          <md-content layout="column" flex class="md-padding">
            <div ng-view></div>
          </md-content>
      </div>
    </div>

    <script src="app.js"></script>
  </body>
</html>